/* .signup-container{
    display: flex;
    border: solid rgb(234, 217, 217) 2px;
    box-shadow: rgba(211, 194, 194, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 12px;
    margin: 8px;
    width: 12em;
    height: 24em;
    gap: 20px;
    align-content: center;
} */

.form-signup {
    background-color: rgb(186, 202, 239);
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 5px;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}


form input {
    width: 100%;
    padding: 5px;
    margin-bottom: -5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 70%;
    padding: 0.4rem;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px;
    align-self: center;
}

/* .signup-button {
    border-radius: 9px;
    padding: 4px 40px 4px 40px;
    margin: 20px;
} */

.link-2 {
    font-size: 1em;
    padding-left: 5.5em;
    display: flex;
    gap: 5px;
    
}

.login {
    color: blue;
    text-decoration: underline;
}